<html>
<head>
	<title>Fruit</title>
	<link rel="stylesheet" href = "/css/bootstrap.min.css">
</head>
<body>
	<div class="contrainer">
		<h1>Fruit</h1>
		<ul>
			<li><img src = "banana.jpg" height="236"></li>
			<li><img src = "apple.jpg" height="236"></li>
			<li><img src = "mango.jpg" height="236"></li>
		</ul>
		<h1>Vegetable</h1>
		<ul>
			<li><img src = "carrot.jpg" height="236"></li>
			<li><img src = "cucumber.jpg" height="236"></li>
			<li><img src = "garlic.jpg" height="236"></li>
		</ul>
	</div>
</body>
</html>