<html>
<head>
	<title>Celsius</title>
	<link rel="stylesheet" href = "/css/bootstrap.min.css">
</head>
<body background="https://t15.pimg.jp/028/279/375/1/28279375.jpg">

		<center><h1><font color="red"size=40ps>Celsius to Kelvin</font></h1>
		<ul><h1>
			<img src = "Kelvin1.jpg" height="300"  width="500"><br>
		<font color="FCFC64"size=40ps>
		<% LastExchange.forEach(function(LastExchange){ %>
			<br><br>= <%= LastExchange %>
		<% }); %></font></h1>
	</ul></center>
	</div>
</body>
</html>
